<div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h2 class="card-title">{{this.title}}</h2>
          <p class="card-text border p-3">{{this.content}}</p>
          <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-secondary edit-post-btn mx-2" data-id="{{this.id}}">Edit</button>
            <button class="btn btn-danger delete-post-btn mx-2" data-id="{{this.id}}">Delete</button>
          </div>