<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{this.title}} Posted by: {{this.user.name}} on {{ format_date this.createdAt}}</h5>
    <p class="card-text">{{this.content}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>