{{!-- views/dashboard.handlebars --}}
<h1 class="my-3">Bloggin it!</h1>
{{#if posts.length}}
  {{#each posts}}
  {{> blogpost-card }}
  {{/each}}
{{else}}
  <p class="text-white">No posts found.</p>
{{/if}}

<div class="text-center mt-5">
    <button id="new-post-btn" class="btn btn-primary mb-3">New Post</button>
  </div>

  <div id="post-form-container" class="text-white bg-dark p-4 rounded" style="display: none;">
    <form id="post-form">
      <div class="form-group mb-3">
        <input type="text" class="form-control" id="post-title" placeholder="Post Title" required />
      </div>
      <div class="form-group mb-3">
        <textarea class="form-control" id="post-content" placeholder="Post Content" required></textarea>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/dashboard.js"></script>